// LOJA SEGURA / REDES SOCIAIS
table(width='600', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#000000')
  tr
    td
      img(border='0', style='display:block; border:none; margin:0; padding:0;', src='http://www.lojadewhisky.com.br/lojas/00024143/images/r_3.jpg', width='600', height='30')
table(width='600', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#000000')
  tr
    td
      img(src='http://www.lojadewhisky.com.br/lojas/00024143/images/r_5.jpg', alt='', width='300', height='40', style='display:block; border:none; margin:0; padding:0;', border='0')
    td
      img(src='http://www.lojadewhisky.com.br/lojas/00024143/images/r_6.jpg', alt='', width='30', height='40', style='display:block; border:none; margin:0; padding:0;', border='0')
    td
      a(href='https://www.facebook.com/SingleMaltBrasil', title='Siga nosso perfil no facebook', target='_blank')
        img(src='http://www.lojadewhisky.com.br/lojas/00024143/images/r_7.jpg', alt='', width='35', height='40', style='display:block; border:none; margin:0; padding:0;', border='0')
    td
      a(href='https://twitter.com/SingleMaltBr', title='Siga nossa página no Twitter', target='_blank')
        img(src='http://www.lojadewhisky.com.br/lojas/00024143/images/r_8.jpg', alt='', width='35', height='40', style='display:block; border:none; margin:0; padding:0;', border='0')
    td
      a(href='https://www.youtube.com/user/SingleMaltBrasil', title='Inscreva-se no nosso canal no YouTube', target='_blank')
        img(src='http://www.lojadewhisky.com.br/lojas/00024143/images/r_9.jpg', alt='', width='40', height='40', style='display:block; border:none; margin:0; padding:0;', border='0')
    td
      img(src='http://www.lojadewhisky.com.br/lojas/00024143/images/esp_2.jpg', alt='', width='160', height='40', style='display:block; border:none; margin:0; padding:0;', border='0')
// LOJA SEGURA / REDES SOCIAIS
