include ../mixin/mixins.pug
doctype html
html
  include ../includes/head.pug
  body
    // Head destaque
    include ../includes/head-news.pug
    each prop, index in dataNews
      if prop.tipoLayout === "coluna"
        +m-lycolum(prop.columns, prop.spaceImg)
      else
        +m-lyrow(prop.linkProd, prop.srcImg, prop.altImg, prop.spaceImg)
    // Footer
    include ../includes/footer.pug


